
@{
    ViewData["Title"] = "Details";
}

<h1>Store Details</h1>

<div>
    <h4>View orders sorted by date</h4>
    @Html.ActionLink("Ascending order", "OrderBydate", new { id = ViewBag.id }) |
    @Html.ActionLink("Descending order", "OrderBydateDes", new { id = ViewBag.id })
</div>

<hr />


<div>
    <h4>View orders sorted by Total price</h4>
    @Html.ActionLink("Ascending order", "OrderBYTotal", new { id = ViewBag.id }) |
    @Html.ActionLink("Descending order", "OrderBYTotalDes", new { id = ViewBag.id })
</div>



