@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:#ED553b">AMANUELS FLOWER STORE</h1>
    <p>This Flower shop is a Web application where customers can sign up and buy different flowers from multiple store locations. It also allows the manager of the store to maintain and collect records of the store.</p>
</div>

