@{
    ViewData["Title"] = "Home Page";
}

<div class="home-page-box" >
    <div class="home-page-box-in">
        <h1 class="home-page-box-h1">AMANUELS FLOWER STORE</h1>
        <p class="home-page-box-p">
            This Flower shop is a Web application built on ASP.net MVC. Using the application store managers can keep track of their stores.
            It allows them to keep track of their inventories, customers and orders. This aplication stores data on a PostgreSQL database. The
            application is deployed using Azure app services.
        </p>
    </div>
</div>

