
@{
    ViewData["Title"] = "Details";
}

<h1>Customer Details</h1>

<div>
    <h4>View orders sorted by date</h4>
    @Html.ActionLink("Ascending order", "OrderBydate", new { username = ViewBag.UserName }) |
    @Html.ActionLink("Descending order", "OrderBydateDes", new { username = ViewBag.UserName })
</div>

<hr />


<div>
    <h4>View orders sorted by Total price</h4>
    @Html.ActionLink("Ascending order", "OrderBYTotal", new { username = ViewBag.UserName }) |
    @Html.ActionLink("Descending order", "OrderBYTotalDes", new { username = ViewBag.UserName })
</div>


